.postButtons {
  background: orange;
  color: white;
  border-radius: 5px;
  width: auto;
  margin-right: 10px;
  height: auto;
}
#format-div {
  float:left;
  margin: 10px;
}
#format-adiv {
  float:left;

}
