.postButtons {
  background: orange;
  color: white;
  border-radius: 5px;
  width: auto;
  margin-right: 10px;
  height: auto;
}


#gif-section {
  display:grid;
  max-height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.full {
  width: 100%;
}
