.preButtons {
  background: orange
  color: white;
  width: auto;
  height 25px:
  margin: 50px;
}

.postButtons {
  background: orange;
  color: white;
  border-radius: 5px;
  width: auto;
  height 25px:
  margin: 50px;

}
